&.authenticate {
	> .authenticate__ctn {
		@include size(100%);
		@include flex(column, center, center);
		@include position(relative);

		&.logged-in {
			> .ctn__login-alert,
			> .ctn__sign-in-btn,
			> .ctn__loading {
				display: none;
			}

			> .ctn__info {
				display: block;
			}

			> .ctn__logout-btn {
				display: flex;
			}
		}

		&.loading {
			> img,
			> .ctn__login-alert,
			> .ctn__sign-in-btn,
			> .ctn__info {
				display: none;
			}

			> .ctn__loading {
				display: block;
			}
		}

		> .ctn__logout-btn {
			@include size(200px, 40px);
			@include flex(row, center, center);
			@include position(absolute, 4px, 4px);
			color: #fff;
			border: 2px solid $primaryColor;
			border-radius: 6px;
			background-color: $primaryColor;
			transition: ease 300ms;
			display: none;

			&:hover {
				cursor: pointer;
				color: $primaryColor;
				background-color: #fff;
			}

			i {
				font-size: 16px;
			}

			p {
				font-size: 15px;
				font-weight: 600;
				margin-left: 10px;
			}
		}

		> img {
			@include size(140px);
			border-radius: 50%;
			box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
			padding: 10px;
		}

		> .ctn__sign-in-btn {
			@include flex(row, center, space-between);
			padding: 10px 15px;
			border-radius: 8px;
			background-color: #fff;
			border: 2px solid #ddd;
			margin-top: 20px;

			&:hover {
				cursor: pointer;
				background-color: #eee;
			}

			> img {
				@include size(20px);
			}

			> p {
				text-decoration: none;
				font-size: 14px;
				font-weight: bold;
				margin-left: 10px;
				color: $primaryColor;
			}
		}

		> .ctn__login-alert {
			margin-top: 20px;
			font-size: 16px;
			color: #777;
		}

		> .ctn__info {
			@include maxSize(60%, false);
			@include minSize(280px, false);
			border-radius: 10px;
			padding: 15px;
			background-color: #fff;
			box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
			margin-top: 20px;
			display: none;

			> div {
				&:last-child {
					margin-top: 10px;
				}

				> span {
					color: $textColor;
					font-size: 15px;
				}

				> span:first-child {
					font-weight: bold;
				}

				> span:last-child {
					margin-left: 4px;
				}
			}
		}

		> .ctn__loading {
			display: none;

			@keyframes ldio-l3m576hjipg {
				0% {
					transform: translate(-50%, -50%) rotate(0deg);
				}
				100% {
					transform: translate(-50%, -50%) rotate(360deg);
				}
			}
			.ldio-l3m576hjipg div {
				position: absolute;
				width: 40px;
				height: 40px;
				border: 10px solid #2196f3;
				border-top-color: transparent;
				border-radius: 50%;
			}
			.ldio-l3m576hjipg div {
				animation: ldio-l3m576hjipg 1.3333333333333333s linear infinite;
				top: 100px;
				left: 100px;
			}
			.loadingio-spinner-rolling-76b0hjrp7w4 {
				width: 200px;
				height: 200px;
				display: inline-block;
				overflow: hidden;
				background: none;
			}
			.ldio-l3m576hjipg {
				width: 100%;
				height: 100%;
				position: relative;
				transform: translateZ(0) scale(1);
				backface-visibility: hidden;
				transform-origin: 0 0; /* see note above */
			}
			.ldio-l3m576hjipg div {
				box-sizing: content-box;
			}
			/* generated by https://loading.io/ */
		}
	}
}
